.toggle {
    width: 100%;
    float: left;
    padding: 15px;
    background: #F2F2F2;
    height: 100vh;
    margin-left: 0;
    margin-top: 90px;
    overflow-y: scroll;
}

.project-sb-w {
    width: 5%;
    position: relative;
}